.evp-alignment-input {
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-alignment-input p {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
}

.evp-alignment-input textarea {
  height: 25rem;
  width: 100%;
  border: none;
  background-color: #f5f4f4;
  outline: none;
}

.evp-alignment-button {
  display: flex;
  justify-content: end;
}
