.evp-develop-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.evp-develop-validationContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-develop-validation-para {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.evp-develop-validation-input textarea {
  height: 4rem;
  width: 100%;
  border: none;
  background-color: #f5f4f4;
  outline: none;
  resize: vertical;
  overflow: hidden;
}

.evp-develop-validation-buttons {
  display: flex;
  justify-content: end;
}
