.evp-embedment-main-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.evp-embedment-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem auto;
  gap: 0.5rem;
  position: relative;
}

.embedment-input-box {
  position: absolute;
  top: 140px;
  left: 85px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fafafa;
}

.evp-embedment-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.evp-embedment-tab {
  width: 50px;
  height: 70px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-align: center;
}

.evp-embedment-tab.expanded {
  width: 200px;
  height: 70px;
  background-color: #0dcaf0;
  color: white;
  font-weight: bold;
}

.evp-embedment-tab.collapsed {
  width: 70px;
  height: 70px;
  background-color: #fefefe;
  color: black;
}

.evp-embedment-tab p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
}

.evp-embedment-content-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.evp-embedment-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.evp-embedment-left {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.evp-embedment-left-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fefefe;
  border: 1px solid #eee;
}

.evp-embedment-left-box:hover {
  background-color: #0dcaf0;
  color: #fff;
}

.evp-embedment-left-box p {
  text-align: center;
}

.evp-embedment-left-box.active {
  color: #fff;
  background-color: #0dcaf0;
}

.evp-embedment-right {
  height: 30rem;
  max-height: 30rem;
  padding: 1rem;
  background-color: #fefefe;
}

.evp-embedment-right-content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3rem;
  gap: 1rem;
}

.evp-embedment-right-content-message {
  height: 24rem;
  max-height: 24rem;
  overflow-y: auto;
}

.evp-embedment-right-content-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.evp-embedment-right-content-inputs input {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  padding: 6px 15px;
  outline: none;
}

.evp-embedment-right-content-sendButton {
  font-size: 30px;
  display: flex;
}

.evp-embedment-button {
  width: 25%;
  height: 100%;
}

.evp-embedment-button button {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-size: 1.3rem;
  border: none;
  background-color: #247d97;
  color: #fff;
  cursor: pointer;
}
