.evp-mainContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100px;
  background-color: #fbfbfb;
}

.evp-module-flow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.evp-module-flow-module {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.evp-module-flow-module-firstIcon {
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #efe2e4;
}

.activeModuleMain {
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #0dcaf0;
  color: white;
}

/* .evp-module-flow-module-secondIcon {
  font-size: 2rem;
} */

.evp-module-flow img {
  width: 50%;
}

.evp-container {
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 2rem;
}

.evp-left-bar {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.evp-left-bar-tabs {
  height: auto;
  background-color: #0b0b5c;
  color: white;
  cursor: pointer;
}

.evp-left-bar-mainTabs {
  height: 2.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 0.8rem;
}

.evp-left-bar-mainTabs p {
  font-family: "Roboto";
  margin-bottom: 0;
}

.evp-left-bar-subTabs {
  height: auto;
  background-color: white;
  color: gray;
}

.evp-left-bar-subTabs-tab.active-sub {
  background-color: #0dcaf0;
  color: #fff;
}

.evp-left-bar-subTabs-tab {
  height: 2.5rem;
  padding-left: 0.8rem;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  cursor: pointer;
}

.evp-content {
  width: 100%;
  height: auto;
}

.evp-left-bar-subTabs-tab.evp-embedment {
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.evp-left-bar-subTabs-tab.evp-embedment.active-sub {
  background-color: #0dcaf0;
  color: #fff;
}

.evp-embedment-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.evp-embedment-box span {
  color: #000;
}

.evp-backButton {
  z-index: 10;
  position: fixed;
  top: 90%;
  left: 2%;
}

.evp-nextButton {
  z-index: 10;
  position: fixed;
  top: 90%;
  left: 92%;
}

.evp-nextButton button {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0dcaf0;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
}

.evp-backButton button {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0dcaf0;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
}
