.evp-designPrinciples {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 2rem;
}

.evp-designPrinciples-questions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evp-designPrinciples-question-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-designPrinciples-question-container textarea {
  height: 8rem;
  width: 100%;
  border: none;
  background-color: #f5f4f4;
  outline: none;
}

.evp-designPrinciples-question {
  display: flex;
  justify-content: space-between;
}

.evp-designPrinciples-question label {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

.evp-designPrinciples-question button {
  border: none;
  background: none;
}

.evp-designPrinciples-button {
  display: flex;
  justify-content: center;
}

.designRotated {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
