.evp-design-heading {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: #22bfed;
}

.evp-design-para {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 400;
}

.evp-design-container td {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
}

.evp-design-container th {
  font-size: 1.3rem;
}
