.evp-primaryResearch {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 2rem;
}

.evp-primaryResearch-mainContainer {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-primaryResearch-dataGather {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evp-PrimaryResearch-tabs {
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.evp-PrimaryResearch-tab {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 1.3rem;
  color: gray;
  border-bottom: 2px solid #d5d4d4;
  cursor: pointer;
}

.evp-PrimaryResearch-tab.active {
  color: #22bfed;
  border-bottom: 2px solid #22bfed;
}

.evp-primaryResearch-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evp-primaryResearch-uploadContainer {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-primaryResearch-uploadContainer p {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
}

.evp-primaryResearch-uploadContainer input {
  height: 3rem;
  width: 100%;
  border: none;
  background-color: #f5f4f4;
  padding-left: 1rem;
  outline: none;
}

.evp-primaryResearch-button {
  display: flex;
  justify-content: center;
}

.evp-primaryResearch-resources {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-primaryResearch-resources-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f7f7f7;
}

.evp-primaryResearch-resources-header h3 {
  text-transform: capitalize;
  font-size: 20px;
}

.evp-primaryResearch-resources-header span {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.useful-resource-tooltip {
  position: absolute;
  top: 30px;
  left: -250px;
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.evp-primaryResearch-resources-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  color: #666666;
}

.evp-primaryResearch-resources-links a {
  color: #666666;
  font-weight: normal;
  font-size: 14px;
}

.evp-primaryResearch-resources-links a:hover {
  color: #0dcaf0;
}

.pop-messages p {
  font-family: "Roboto";
  font-size: 15px;
  margin-bottom: 0;
}

/* .widget_categories ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.widget_categories ul li {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #666666;
  padding-left: 17px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #efefef;
}

.widget_categories ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.widget_categories ul li::before {
  background: #1dd3f8;
  position: absolute;
  height: 10px;
  width: 10px;
  content: "";
  left: 0;
  top: 8px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.widget_categories ul li a {
  display: block;
  color: #666666;
  font-weight: normal;
  font-size: 14px;
}

.widget_categories ul li a span {
  float: right;
  font-size: 13px;
}

.widget_categories ul li a:hover {
  color: #1dd3f8;
}

.widget_categories ul li .post-count {
  float: right;
}

.widget-title {
  text-transform: capitalize;
  position: relative;
  font-size: 20px;
  margin-bottom: 0;
  background-color: #f7f7f7;
  padding: 10px 20px;
  color: #212121;
  position: relative;
}

.widget-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #1dd3f8;
}

.widget-title {
  margin-bottom: 0;
}

.post-wrap {
  padding: 20px;
} */
