.singleAttribute-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.singleAttribute-content {
  height: 50rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  max-width: 90%;
  position: relative;
  text-align: center;
  overflow-y: auto;
}

.singleAttribute-content h2 {
  margin-bottom: 20px;
}

.singleAttribute-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.singleAttribute-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
