/* .faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  border: none;
}
.faq-accordion .accordion .accordion__item {
  margin-bottom: 15px;
  border: none;
}
.faq-accordion .accordion .accordion__item:last-child {
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion__button {
  border-radius: 5px;
  display: block;
  box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
  background: #ffffff;
  padding: 20px 25px;
  color: #212121;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
}
.accordion__button[aria-expanded="true"]:before,
.accordion__button[aria-selected="true"]:before {
  transform: rotate(45deg);
}
.faq-accordion .accordion .accordion__button:focus {
  outline: 0;
}
.faq-accordion .accordion .accordion__button i {
  position: absolute;
  right: 25px;
  top: 18px;
  font-size: 25px;
  transition: 0.5s;
}
.faq-accordion .accordion .accordion-title.active i {
  transform: rotate(180deg);
}
.faq-accordion .accordion .accordion__panel {
  background-color: #ffffff;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 25px;
  box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
}
.faq-accordion .accordion .accordion__panel p {
  line-height: 1.8;
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion-content.show {
  display: block;
}

@media only screen and (max-width: 767px) {
  .faq-accordion .accordion .accordion-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-accordion .accordion .accordion-title {
    font-size: 16px;
  }
} */

/* .evp-keyThemes {
  position: relative;
} */

.evp-keyThemes-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.evp-keyThemes-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evp-keyThemes-themes-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5rem;
  gap: 1rem;
}

.evp-keyThemes-themes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evp-keyThemes-themes-tile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-keyThemes-regenerateIcon {
  display: inline-block;
  font-size: 1.3rem;
  color: grey;
  cursor: pointer;
}

.evp-keyThemes-themes-themeName {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.evp-keyThemes-themes-themeName h4 {
  margin-bottom: 0;
}

.evp-keyThemes-themes-themeName-icon {
  font-size: 2rem;
}

.evp-keyThemes-themes-themeDesc {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-keyThemes-themes-themeDesc p {
  margin-bottom: 0;
}

.evp-keyThemes-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evp-keyThemes-image-fig {
  height: 300px;
  width: 300px;
}

.evp-keyThemes-image-fig img {
  width: 100%;
  height: auto;
}

.keyThemes-warning {
  position: absolute;
  top: 0;
  left: 900px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.keyThemes-warning h3 {
  color: red;
}

.keyThemesRotatedIcon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .evp-keyThemes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
