.evp-handbook-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 10rem;
}

.evp-handbook-buttons-tab {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #f5f4f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.evp-handbook-buttons-tab span {
  font-size: 5rem;
}

.handbookPopup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.handbookPopup-content {
  height: 50rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  max-width: 90%;
  position: relative;
  text-align: center;
  overflow-y: auto;
}

.handbookPopup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.handbookPopup-para {
  text-align: left;
}
