.ic-discover {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 3rem;
}

.ic-discover-left-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  border-right: 0.1px solid #a3a0a0;
}

.ic-discover-left-nav-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 20%;
  cursor: pointer;
}

.ic-discover-left-nav-tab:hover {
  background-color: #e1ebee;
}

.ic-discover-left-nav-tab.active {
  background-color: #e1ebee;
}

.ic-discover-left-nav-tab-content {
  width: 100%;
}

.ic-discover-left-nav-tab-content p {
  font-family: "Roboto";
  font-size: 1.6rem;
}

.ic-discover-main-content {
  height: 100%;
  width: 100%;
}
