@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom_h2 {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: #22bfed;
}

.custom_para {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 400;
}

.custom_para2 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

.custom_input {
  padding: 1rem;
  font-size: 18px;
}
