.evp-talentInsights h2 {
  margin-bottom: 1rem;
}

.evp-talentInsights-container td {
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
}

.evp-talentInsights-container th {
  font-size: 1.3rem;
}

.talentInsightsAddButton {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font-size: 40px;
  background-color: #0dcaf0;
  color: #fff;
}
